html
  head
    title Registration Form
  body
    form(action='groups/', method='POST')
      label(for='name') username: 
      input(type='text', name='username')
      br
      input(type='submit')
